@import url(https://fonts.googleapis.com/css?family=Kalam:400);
@charset "UTF-8";
body {
	/*background-image: url(../../images/BG_cloud.jpg);*/
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	color: #000;
}

#mainContainer {
	/*background: url(../../images/BG_main.png) no-repeat top center;*/
	min-width: 1000px;
	min-height: 600px;
	max-width:1024px;
	max-height:768px;
	position:absolute;
	margin:auto;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	height:100%;
	width:1024px;
}

#startupContainer {
	cursor: pointer;
	background: url(../../images/welcomeScreen.png) no-repeat top center;
	min-width: 80%;
	min-height: 80%;
	max-width:1024px;
	max-height:768px;
	position:relative;
	margin:auto;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	height:768px;
	width:1024px;
}

#levelContainer {
	/*background: url(../../images/BG_soil.jpg) no-repeat top center;*/
	min-width: 1000px;
	min-height: 600px;
	max-width:1024px;
	max-height:768px;
	position:absolute;
	margin:auto;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	height:100%;
	width:1024px;
	overflow-y: auto;
	overflow-x: hidden;
}
.problemContainer {
	position:absolute;
	width:149px;
	height:220px;
	min-width:149px;
	min-height:220px;
	padding-top: 60px;
}
.problemContainer_Start {
	background: url(../../images/board-r.png) no-repeat top center;
}
.problemContainer_RightBottom {
	background: url(../../images/board-lt.png) no-repeat top center;
}
.problemContainer_LeftBottom {
	background: url(../../images/board-tr.png) no-repeat top center;
}
.problemContainer_RightTop {
	background: url(../../images/board-bl.png) no-repeat top center;
}
.problemContainer_LeftTop {
	background: url(../../images/board-br.png) no-repeat top center;
}
.problemContainer_EndLeft {
	background: url(../../images/board-l.png) no-repeat top center;
}
.problemContainer_EndRight {
	background: url(../../images/board-r.png) no-repeat top center;
}
.problemContainer_Middle {
	background: url(../../images/board-lr.png) no-repeat top center;
}
.problemContainer_Top {
	background: url(../../images/board-t.png) no-repeat top center;
}
#menuContainer {
	position:fixed;
	margin-top: 25px;
	margin-left: 25px;
}
#worldContainer_1 {
	position:absolute;
	right:50px;
	top: 570px;
	width: 108px;
	height: 86px;
}
#worldContainer_2 {
	position:absolute;
	left:400px;
	top: 580px;
	width: 108px;
	height: 86px;
}
#worldContainer_3 {
	position:absolute;
	left:675px;
	top: 540px;
	width: 108px;
	height: 86px;
}
#worldContainer_4 {
	position:absolute;
	left:520px;
	top: 370px;
	width: 108px;
	height: 86px;
}
#worldContainer_5 {
	position:absolute;
	left:200px;
	top: 470px;
	width: 108px;
	height: 86px;
}
#worldContainer_6 {
	position:absolute;
	left:400px;
	top: 185px;
	width: 108px;
	height: 86px;
}
#worldContainer_7 {
	position:absolute;
	left:720px;
	top: 30px;
	width: 108px;
	height: 86px;
}
#worldContainer_8 {
	position:absolute;
	left:860px;
	top: 395px;
	width: 108px;
	height: 86px;
}
#worldContainer_9 {
	position:absolute;
	left:50px;
	top: 345px;
	width: 108px;
	height: 86px;
}
#worldContainer_10 {
	position:absolute;
	left:125px;
	top: 185px;
	width: 108px;
	height: 86px;
}
#worldContainer_11 {
	position:absolute;
	left:850px;
	top: 200px;
	width: 108px;
	height: 86px;
}
#worldContainer_12 {
	position:absolute;
	left:85px;
	top: 575px;
	width: 108px;
	height: 86px;
}
#worldContainer_13 {
	position:absolute;
	left:655px;
	top: 275px;
	width: 108px;
	height: 86px;
}
#worldContainer_14 {
	position:absolute;
	left:350px;
	top: 15px;
	width: 108px;
	height: 86px;
}
#resetButton {
	opacity: 0.8;
	width: 40px;
	height: auto;
}
.worldName {
	background-color: rgba(255,255,255,.6);
	color: #000;
	padding: 5px;
	border-radius: 10px;
	margin-top:75px;
	font-family: Helvetica;
	font-size: 11pt;	
}
.levelLabel {
	position:absolute;
	top: 47px;
	left: 20px;
	font-family: Helvetica;
	color: #000;
	text-align: right;
	width: 75px;
	font-size: 11pt;
	
}

#worldTitle {
	position: fixed;
	margin: 25px auto;
	left: 0px;
	right: 0px;
	background: url(../../images/worldTitle.png) no-repeat;
	min-width: 723px;
	min-height: 73px;
	width: 723px;
	height: 73px;
	font-family: Kalam;
	font-size: 35px;	
}

#worldLogo {
	position: absolute;
	left: 10px;
	top: 10px;
}
#worldStars {
	position: absolute;
	right: 25px;
	top: 10px;
}	
#goalPanel {
	margin-top: 15px; 
	max-width: 1000px; 
	width: 500px; 
	height: 120px; 
	border-radius: 4px;
	background: rgba(255,255,255,.1);
	margin-left: auto; 
	margin-right: auto; 
	left:0px; 
	right:0px;
}

#goalLabel {
	margin-top:25px; 
	height: 15px; 
	line-height: 25px; 
	font-size: 25px;
}
#minimumGoal {
	font-face: Kalam;
	color:#777;
}
#skipButton {
	display:none;
}
#resetButton:hover{
	opacity: 1.0;
	cursor: pointer;
}
div#canvas-outer-container {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
#timedCountdownContainer {
	width: 80%; 
	margin-bottom: 30px; 
	left:0; 
	right:0; 
	margin-left: auto; 
	margin-right: auto; 
	display:none;
}

#timedCountdownSeconds {
	font size:20px;
}

#timedCountdownBar {
	margin-top: 15px;
	float:right; 
	height: 15px; 
	background-color: green; 
	width: 100%;
}

#problemContainer {
	margin:auto;
	left: 0px;
	right:0px;
	top:0px;
	bottom:0px;
	width:80vw;
	height:400px;
	position:absolute;
	min-width: 700px;
	min-height: 400px;
	color: #FFF;
}

#problemText {
	margin-top: -50px;
	margin-bottom: 25px;
	color: #FFF;
}

#resetPanel {
	position: absolute; 
	float:left; 
	margin-top: 15px; 
	margin-left: 15px; 
	z-index: 2; 
	display: none;
}

#dialogContainer {
	width:100%;
	height:100%;
	background: rgba(0,0,0,.8);
	position:absolute;
	z-index:100;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
}

#dialogBox {
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
	background: url(../../images/woodFrame.png);
	width:600px;
	height:598px;
	padding: 1px 0;
}

#dialogButtons {
	margin-top:25px;
}
	

#rewardContainer {
	width:100%;
	height:100%;
	background: rgba(0,0,0,.8);
	z-index:100;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
}

#rewardBox {
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
	background: url(../../images/woodFrame.png);
	width:600px;
	height:598px;
	padding: 1px 0;
}

#rewardButtons {
	position:absolute;
	bottom: 25px;
	left:0px;
	right:0px;
	margin:auto;
}

#rewardText {
	margin: 175px auto;
	width: 275px;
}

#starBox {
	margin-top: 15px;
	text-align: left;
	margin-left: 200px;
}

#achievementBox {
	margin-top: 175px;
}

#loginContainer {
	width: 400px;
	height: 250px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	position:absolute;
}

#loginModal {
	width: 400px;
	height: 250px;
	position:relative;
	background: rgba(238,238,238,0.9);
	border: 1px solid rgba(192, 192, 192, 1);
	padding: 1px 0;	
}
#registerModal {
	width: 400px;
	height: 350px;
	position:relative;
	background: rgba(238,238,238,0.9);
	border: 1px solid rgba(192, 192, 192, 1);
	padding: 1px 0;	
}

#headerContainer {
	position: absolute;
	top:0px;
	height: 25px;
	background: rgba(238,238,238,1);
	width: 100vw;	
}

#worldInfo {
	float: left;
	top: 5px;
	margin-left: 5px;
	width: 250px;	
}
#userInfo {
	float: right;
	top: 5px;
	margin-right: 5px;
	width: 250px;	
}

#hintPanel {
	display:none;
	float: left;
	bottom: 100px;
	margin-left: 25px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 300px;
	position: absolute;	
	background: rgba(204,255,153,1);
	border: 1px solid rgba(192, 192, 192, 1);
	border-radius: 4px;
	height: 200px;
}
#stepPanel {
	float: right;
	bottom: 75px;
	margin-right: 5px;
	width: 250px;
	font-weight: 100;	
}

#footerContainer {
	position: absolute;
	bottom: 0px;
	height: 75px;
	background: rgba(238,238,238,1);
	width: 100vw;	
}

.overStepLimit {
	color: #F00;
	font-weight: 500;
}

.largeChoice button {
	margin-top: 25px;
}


#outer {
  margin: auto;
  margin-bottom: 40px;
  margin-top: 35px;
  width: 780px;
  padding: 0 10px;
}

#content {
	width: 500px;
	margin: auto;
	float: left;
}

.largeChoice {
	/*border: 1px solid silver;*/
	border-radius: 4px;
	background: rgba(255,255,255,.1);
	height: 200px;
	width: 100%;
	margin: 0px;
	position: relative;
	color: #FFF;
}

.choice span.label, .choice2 span.label, .largeChoice span.label {
	left: 0;
	text-align: center;
	width: 120px;
	height: 100%;
	background: rgba(0,0,0,0.15);
	position: absolute;
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: Lato;
	color: black;
	display: inline-block;
	line-height: 120px;
	font-style: italic;
}

.choice span.smallLabel, .largeChoice span.smallLabel {
	left: 0;
	text-align: center;
	width: 120px;
	height: 50%;
	background: rgba(0,0,0,0.15);
	position: absolute;
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: Lato;
	color: black;
	display: inline-block;
	line-height: 0px;
	font-style: italic;
}

.choice div.smallLabel, .largeChoice div.smallLabel {
	left: 0;
	text-align: center;
	width: 120px;
	height: 50%;
	background: rgba(0,0,0,0.15);
	position: absolute;
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: Lato;
	color: black;
	display: inline-block;
	line-height: 30px;
	font-style: italic;
}

.choice span.label.light, .choice2 span.label.light, .largeChoice span.smallLabel.light, .largeChoice div.smallLabel.light {
	background: none;
	/*color: #85C042;*/
}

.interactive {
  cursor: pointer;
}

	
/*
g.math text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  dominant-baseline: alphabetic;
}

body {
	margin: 0;
}

g.math {
	pointer-events: all;
}

#menus {
  float: left;
}

.menu {
  margin-top: 21px;
  margin-left: 50px;
  margin-bottom: 21px;
}

.menu .menu-item, #prev, #next {
	font-family: Lato;
	text-decoration: none;
  color: gray;
  font-size: 15px;
  display: block;
  padding: 8px 8px;
  border-radius: 4px;
  border: 1px rgba(0,0,0,0) solid;
  cursor: pointer;
}

#prev, #next {
	display: inline;
	cursor: default;
}

.menu .menu-item:hover {
	display: inline-block;
	border: silver 1px solid;
	color: #666;
	cursor: pointer;
}

#prev.active:hover, #next.active:hover {
	border: silver 1px solid;
	cursor: pointer;
}

.menu .menu-item.active, #prev.active, #next.active {
	margin: 0px;
  color: #85C042;
}

div.middle {
  margin: 0;
  margin-bottom: 40px;
  background-color: #84BF41;
  border-bottom: rgba(69, 70, 67, 0.5) 1px solid;
  padding: 7px 8px 0px 10px;
}

h1 a {
	text-decoration: none;
	color: white;
}

div.middle h1 {
  font-weight: 300;
  font-size: 22px;
  color: #4D4D4C;
  line-height: 25px;
  font-family: 'Lato', helvetica, arial, sans-serif;
  margin-top: 0px;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

h1 img {
	padding-right: 3px;
  vertical-align: -6px;
  width: 40px;
}

h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: normal;
  color: #333;
}

p.tutorial-instructions {
	font-size: 19px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: 300;
	margin-top: 1em;
}

.tutorial {
	margin-bottom: 3em;
}

.tutorial .choice {
	margin: 10px 0;
}


.interactive {
  cursor: pointer;
}

.instructions {
	margin: auto;
	text-align: left;
	font-size: 18px;
}

div.choices {
	width: 45%;
	float: left;
}

.choice {
	border: 1px solid silver;
	border-radius: 4px;
	background: #eee;
}

.choice svg {
	overflow: visible;
}

.animation {
	width: 100%;
	height: 100%;
}

.choice {
	height: 120px;
	width: 500px;
	margin: 20px auto;
	position: relative;
}

.choice2 {
	height: 250px;
	width: 500px;
	margin: 20px auto;
	position: relative;
	border: 1px solid silver;
}

.choice span.label, .choice2 span.label {
	left: 0;
	text-align: center;
	width: 120px;
	height: 100%;
	background: rgba(0,0,0,0.15);
	position: absolute;
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: Lato;
	color: black;
	display: inline-block;
	line-height: 120px;
	font-style: italic;
}

.choice span.label.light, .choice2 span.label.light {
	background: none;
	color: #85C042;
}

.largeChoice {
	border: 1px solid silver;
	border-radius: 4px;
	background: rgba(255,255,255,.1);
	height: 200px;
	width: 100%;
	margin: 0px;
	position: relative;
	color: #FFF;
}

.choice span.label, .choice2 span.label, .largeChoice span.label {
	left: 0;
	text-align: center;
	width: 120px;
	height: 100%;
	background: rgba(0,0,0,0.15);
	position: absolute;
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: Lato;
	color: black;
	display: inline-block;
	line-height: 120px;
	font-style: italic;
}

.choice span.smallLabel, .largeChoice span.smallLabel {
	left: 0;
	text-align: center;
	width: 120px;
	height: 50%;
	background: rgba(0,0,0,0.15);
	position: absolute;
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: Lato;
	color: black;
	display: inline-block;
	line-height: 0px;
	font-style: italic;
}

.choice div.smallLabel, .largeChoice div.smallLabel {
	left: 0;
	text-align: center;
	width: 120px;
	height: 50%;
	background: rgba(0,0,0,0.15);
	position: absolute;
	border-radius: 3px 0 0 3px;
	font-size: 20px;
	font-family: Lato;
	color: black;
	display: inline-block;
	line-height: 30px;
	font-style: italic;
}


.noBackground {
	border: none;
	background-color: transparent;
	background: none;	
}

.choice span.label.light, .choice2 span.label.light, .largeChoice span.smallLabel.light, .largeChoice div.smallLabel.light {
	background: none;
	color: #85C042;
}
*/